header {
    margin: auto;
    padding: auto;
    height: 30vh;


}
#PageTitle {
        margin: auto;
        padding: auto;
        background-color: cornflowerblue;
        color: black;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        width: 100vw;
        height:10vh;
        font-size: large;
    }
.intro {
        margin: auto;
        padding: auto;
        width: 25vw;
        height:10vh;
    }
#About, #SkillsA{
            margin: auto;
            padding: auto;
            border-right: 3px solid black;
            float:left;
            
        }
#SkillsB, #Others {
            margin: auto;
            padding: auto;
            border-left: 3px solid black; 
            float: left;
        }
article{
        margin: auto;
        padding: auto;
        width: 100vw;
        height: 10vh;
        
    }    
section {
    margin: auto;
    padding: auto;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    height: 600px;
    background-color: darkgray;
    height: 50vh;
}    
footer {
    margin: auto;
    padding: auto;
    height: ;
    background-color: blueviolet;
    height: 10vh;
    width: 100vw;
}
