header {
    margin: auto;
    padding: auto;
    height: 50vh;
}
#PageTitle {
        text-align: center;
        margin: auto;
        padding: auto;
        background-color: cornflowerblue;
        color: black;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        width: 100vw;
        height:10vh;
        font-size: 300px;
    }
.intro {
        margin: auto;
        padding: auto;
        width: 25vw;
        height: 40vh;
        float: left;
        
    }
#About, #SkillsA{
            margin: auto;
            padding: auto;
            border-right: 3px solid black;
            float:left;
            
        }
#SkillsB, #Others {
            margin: auto;
            padding: auto;
            border-left: 3px solid black; 
            float: left;
        }
article{
        margin: auto;
        padding: auto;
        width: 100vw;
        height: 10vh;
        
    }    
section {
    margin: 20px;
    padding: 20px;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    background-color: darkgray;
    height: 50vh;
}    
.aside {
    margin: auto;
    padding: auto;
    width: 25vw;
    height: 40vh;
}
footer {
    margin: auto;
    padding: auto;
    background-color: blueviolet;
    height: 10vh;
    width: 100vw;
}
